/**
 * Tabs
 */
.tabs {
    --padding: 2rem;
    --accent: #6245de;
    --border: #eae8e8;

    margin-bottom: 1.6842em;
}

.tabs details {
    transition:
        0.2s ease border-color,
        0.2s ease background-color;

    position: relative;

    border-right: 1px solid transparent;
    border-bottom: 1px solid var(--border);
    border-left: 0.2em solid transparent;
}
.tabs details:last-of-type {
    border-bottom: none;
}
.tabs details[open] {
    background-color: #f8f8fa;
    border-right-color: var(--border);
    border-left-color: var(--accent);
}

.tabs details > summary {
    transition: 0.2s ease color;

    display: flex;
    gap: 0.4em;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: var(--padding);

    list-style: none;
    font-size: larger;
    font-weight: bolder;

    cursor: pointer;
    user-select: none;
}
.tabs details > summary::marker {
    display: none;
}
.tabs details > summary::after {
    transition:
        0.2s ease border-color,
        0.2s ease background-color;

    padding: 0 0.3418em;

    content: '\f431';
    font-family: 'Genericons';

    border: 1px solid var(--border);
    border-radius: 50%;
    text-align: center;
}
.tabs details:hover > summary,
.tabs details[open] > summary {
    color: var(--accent);
}
.tabs details[open] > summary::after {
    content: '\f432';

    color: #fff;
    border-color: var(--accent);
    background-color: var(--accent);
}

.tabs details > summary > :is(h1, h2, h3, h4, h5, h6) {
    margin: 0;

    line-height: inherit;
    font-size: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabs details[open] > summary > :is(h1, h2, h3, h4, h5, h6) {
    white-space: normal
}

.tabs details > div {
    padding: var(--padding);
}

.tabs details > div > :last-child {
    margin-bottom: 0;
}
